* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container_nav {
    background-color: #313131;

}
.nav {
    max-width: 1579px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 188px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 27px;
}
.nav_logo{
    width: 27px;
    height: 27px;
}
.logo_text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.nav_list{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    list-style: none;
    max-width: 750px;
    padding-left: 0;

}
.nav_list li {
    padding-left: 35px;
}

.nav_list a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav_list a:hover{
    color: #14b9d5;
}
.logo_search{
    width: 17px;
    height: 17px;
}
.logo_bg{
    background-color: black;
    padding: 27px;
}
.header {
    background-image: url("../img/header-background.png");
    background-size: cover;
    min-width: 1342px;
    min-height: 369px;
    text-align: center;
    position: relative;
}
.header_title{
    margin: 0;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    padding-top: 164px;
    left: 50%;
    color: #FFFFFF;
}
.container_btn {
    position: absolute;
    top: 239px;
    left: 50%;
    transform: translateX(-50%);
}
.header_btn_green{
    border-radius: 4px;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 155px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #89CA62;
    border: none;
}
.header_btn_blue{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 155px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #14B9D5;
    border: none;
    border-radius: 4px;
}
.gallery {
    background: #f2f2f2;
    padding-bottom: 72px;
}
.gallerry_title, .top_rated_title, .news_title {
    color: #18B4CF;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery_container {
    max-width: 1150px;
    margin: auto;
    display: flex;
    gap: 30px;
}
.gallery_section {
    background-color: white;
}
.gallery_item {
    display: block;
}
.gallery_text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding-bottom: 22px;
    margin-bottom: 30px;
}
.clients {
    background-image: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 590px;
    transform: translateZ(-10px) scale(1.1);
}
.clients_title {
    margin: 0 auto;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
}
.clients_title::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #18B4CF;
    display: block;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}
.clients_gallery {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 63px;
    align-items: center;
    padding-top: 342px;
    gap: 58px;
}
.top_rated_gallery {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    margin: auto;
}
.top_rated_item {
    min-width: 100%;
    height: auto;
}
.news {
    display: grid;
    grid-auto-rows: 259px 950px 259px;
    gap: 43px;
    margin-bottom: 77px;
}
.news_container_1 {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 860px 277px;
    gap: 35px;
}
.news_container_2 {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns:554px 554px;
    gap: 43px 60px;
}
.news_container_3 {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns:277px 860px;
    gap: 35px;
}.news_section_big {
    width: 554px;
    display: flex;
    flex-direction: column;
 }
 .news_section_small {
     width: 277px;
     padding-right: 24px;
     background-color: #f9f7f7;
 }
 .news_section_normal {
     width: 857px;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 .text {
     background-color: #f9f7f7;
     display: block;
     padding-right: 24px;
     padding-top: 20px;
 }
 .news_subtitle {
     font-family: Open Sans,sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 25px;
     text-align: right;
     color: #353A3D;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .news_section_small>.news_subtitle {
     text-align: center;
 }
.news_text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.footer {
    background-color: black;
}
.footer_container {
    max-width: 1150px;
    margin: auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_text {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 500px;
}
.footer_logo {
    width: 105px;
    height: 24px;
}